.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( circle 232px at 10% 20%,  rgba(251,238,115,0.74) 0%, rgba(241,195,87,0.74) 90% );
    min-height: 100vh;
}

.weather-container {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: linear-gradient( 86.9deg,  rgba(253,189,38,1) 28.3%, rgba(253,109,38,1) 118.2% );
    padding: 30px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.weather-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.weather-button {
    background-color: #0057b8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.weather-button:hover {
    background-color: #003f8a;
}

.weather-details {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 18px;
    color: white;
}

.error {
    color: red;
    font-weight: bold;
}
